/* Geral */

/* @font-face {
	font-family: "Poppins";
	src:
	  local("Poppins}"),
	  url("fonts/Poppins/") format("opentype") tech(color-COLRv1),
	  url("fonts/Poppins/outline.otf") format("opentype"),
	  url("fonts/Poppins/outline.woff") format("woff");
  } */
  

  html, body{
	background: #ffffff; 
	height: 100%;
	width: 100%;
	font-family: 'Poppins';
	font-size: 20px;
	color: #252424;
}

em {
	color:#ba3a21;
}
.nav {
	font-size: 20px;
	
}

.active {
	color:#ba3a21 !important;
}
.navbar {

	background-color: #2b1231;
	
}
.nav-link {
	background-color: #2b1231;
	color: white;
	padding-block: 15px;
	/* height:60px;
	padding-top: 15px; */
	
}

.nav-link:hover{
	background-color: white;
	color: black;
}




.navbar-toggler-icon {
	/* background-color: #2b1231; */
	/* color: white; */
	height: 25px;
	shape-margin: #2b1231;
	

}

.navbar-dark {
	color:white;
	border-color: #2b1231;
}


.subscription{
	background-color: #ba3a21;
	color: white;
	/* position: absolute; */
	right: 0;

}

.subscription:hover{
	background-color: white;
	color:black;
}

.card {
	border: #ffffff !important;
}




ul {
	margin: 0px;
	padding: 0px;
}


.lista-fonte {
	font-size: 17px;
}





a {
	text-decoration: none;
	color: inherit;
}

a:hover {
	color:#c36344;
}

#seminario {
	/* height: 1200px; */
	max-width: auto;
	padding-top: 10px;
	
	
}


/* div {
	overflow-x:auto;
} */

table {
    border-collapse:separate;
    border:solid white 1px;
    border-radius:6px;
	background-color: #ba3a21;
	color: white;
	border:1;
	font-size: 16px;
}

td {
	padding-left: 5px;
}



.estetica-flecha {
	max-width: 100%;
}

h1 {
	background-color: #2b1230; 
	color: #bc3b1a;
	padding-block: 15px;
	font-size: 40px;
}

h1 b {
	padding-left: 20px;
}

h2 b {
	padding-left: 20px;
}


.teste * {
	padding-left: 20px;
}


h2 {
	background-color: #bc3b1a;
	color: white;
	padding-block: 15px;	
	font-size: 30px;
}


h3 {
	font-size: 20px;
	padding-block: 15px;

}

.mesa {
	padding-left: 40px;
}


a {
	color: #ba3a21;
}


.org {
	background-color:#c36344;
	color: white ;
	width: 100%;
	
	border-top-left-radius: 20px;
	border-bottom-right-radius: 10px;
	margin-inline: 15px;
}



figcaption {
	font-size: 14px;
	color: rgb(88, 86, 86);
	padding-bottom: 0px;
	padding-left: 30px;
}

.dias {
	padding-left: 30px;

}


.lista {
	padding-block: 3px;
}

.barra-final {
	height: 15px;
	background-color: #bc3b1a;
	opacity: 100%;
	border-color: #bc3b1a;
}


.timer {
	font-size: 50px;
	padding-block: 3px;
	margin-block: 0px;
	/* padding-left: 30px; */
	/* margin-top: 1px;
	padding-top: 0px;
	border-top: 0px; */
}


footer img {
	max-height: 70%;
	max-width: 70%;
	/* padding: 1px; */
	margin-left: 0px;
	margin-right: 0px;
	/* display: block; */
	/* height: auto !important;
	width: auto !important; */
	/* padding-left: 10px; */
}

footer p {
	font-size: 15px;
}

#hora {
	color: #bc3b1a;
	padding-block: 20px;
}

.linha-hora{
	height: 8px !important;
	background-color: #bc3b1a;
	opacity: 100%;
	border-color: #bc3b1a;
}

.linha-divisoria{
	height: 5px;
	background-color: #bc3b1a;
	opacity: 100%;
	border-color: #bc3b1a;
}

/* Telas menores */

@media (max-width: 576px) {
	#realizacao {
		padding-top: 20px;
	}
}

/* Mobile */


@media (max-width: 768px) {

	.row {
		display: flex;
		flex-wrap: wrap;
	}

	h1 b {
		font-size: 24px;
		padding-left: 2%;
	}
	h2 b {
		font-size: 20px;
		padding-left: 2%;
	}
	div.contato {
		padding-left: 25px;
	}
	
	
	#luana-vitra-bienal-1 {
		max-width: 380px;
	} 
	
	.abertura {
		padding-inline: 20px;
		padding-block: 10px
	}

	h1 {
		font-size: 1.5em;
	
	}

	h2 {
		font-size: 1.2em;
	}

	h3 {
		font-size: 1em;
	}

	p, td {
		font-size: 0.8em;
	}	

	li {
		font-size: 0.8em;
	}
	

	.menu-custom {
		padding-block: 10px;
	}
	
	h5 {
		font-size: 18px;
	}
	.org {
		background-color:#c36344;
		color: white ;
		width: 100%;
		/* height: 1200px; */
		font-size: 14px;
		padding-block: 10px;
		/* padding-inline: 40px; */
		border-top-left-radius: 20px;
		border-bottom-right-radius: 10px;
		margin-inline: 15px;
	}

	footer p {
		font-size: 18px;
	}

	#label-inicio-evento {
		padding-top: 0px;
	}

	#instagram{
		max-height: 30px;
		
	}

	.logo-realizacao {
		max-width: 400px;
		height: 200;
	}

	

	.logo{
		max-width: 250px;
		max-height: auto;
		margin-inline: 20px;
		/* padding: 2px; */
		align-items: center;
}



	.luana-vitra-bienal-2 {
		max-width: 378px;
	}

	.timer {
		font-size: 30px;
		padding-block: 3px;
		/* padding-left: 30px; */
		/* margin-top: 1px;
		padding-top: 0px;
		border-top: 0px; */
	}

	#instagram-contato {
		max-height: 40px;
		max-width: 40px;
	}

	
}




#luana-vitra-bienal-evento {
	/* height: auto; */
	max-width: 420px;
	/* margin-block: 15px; */
}

/* Desktop e tablet*/

@media (min-width: 769px) {


	#instagram-contato {
		max-height: 40px;
		max-width: 40px;
	}
	

	div.contato {
		padding-left: 85px;
	}
	

	p {
		font-size: 18px;		
	}


	#luana-vitra-bienal-index {
		height: auto;
		/* max-width: 400px;
		margin-block: 15px; */
	}
	.abertura {
		padding-left: 50px;
		padding-block: 20px;
		
	}
	.org {
		font-size: 15px;	
		position: relative;
		background-color:#c36344;
		color: white;
		height: auto;
		width: 100%;
		border-color:white;
		border-top-left-radius: 30px;
		border-bottom-right-radius: 20px;
		padding-block: 15px;
		padding-inline: 25px;
		margin-inline: 15px;
			
		}
	
	li {
		line-height: 20px;
	}
	h5 {
		font-size: 20px;
		font-weight: bold;
	}
	
	#label-inicio-evento {
		padding-top: 110px;
	}

	
		/* imagens */
	.logo-realizacao {
		max-width: auto;
		max-height: 80px;
		/* padding-left: 30px; */
		/* padding-top: 10px; */
		/* margin-left: 10px;
		padding-right: 10px; */
	}

	.logo {
		margin-inline: 100px;
		display: block;
		/* margin-left: 10px; */
		/* margin-right: auto; */
		max-width: 250px;
		height: auto;
		align-items: center;
	}
	#instagram{
		max-height: 40px;
		/* padding-left: 60px; */
		margin-top: 20px;
	}

	.label-footer {
		padding-left: 20px; 
		font-size: 18px;
	}
	

	#luana-vitra-bienal-1 {
		max-width: 180px;
		height: auto;
	} 
	
}
	
@media (min-width: 1400px)
	{
	.org {
		font-size: 16px;	
		position: relative;
		background-color:#c36344;
		color: white;
		height: auto;
		width: 80%;
		border-color:white;
		border-top-left-radius: 30px;
		border-bottom-right-radius: 20px;
		padding-block: 15px;
		padding-inline: 25px;
		}
	}

@media (min-width: 992px) {
	
	.logo {
		max-width: 150px;
		margin-inline: 55px;
		height: auto;
	}
		}
	



	
  



